.chatbox_zone {

    .open-button {
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 48px;
        height: 48px;
        display: flex;
        background-color: $bg-color-1;
        border-radius: 50%;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        border-radius: 25px;
        width: 400px;
        height: 80vh;
        overflow: hidden;
        position: fixed;
        right: 15px;
        bottom: 75px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        transform-origin: 100% 100%;

        .chat-popup-content {

            ul .nav-item .nav-link.active {
                background-color: transparent;

                // p {
                //     color: $bg-color-1;
                // }

            }

            ul {
                justify-content: space-around;
                position: absolute;
                bottom: 0;
                left: 0;
                padding-top: 15px;
                margin: 0 auto;
                padding-top: 10px;
                background-color: $bg-color-light;
                z-index: 5;

                .nav-item {
                    display: flex;
                    justify-content: center;

                    .nav-link {
                        text-decoration: none;

                        p {
                            color: $ft-color-text;
                        }

                        svg {
                            width: 2em;
                            height: 2em;
                        }
                    }

                    &:hover {
                        .nav-link {
                            p {
                                color: $ft-color-1;
                            }

                            svg {
                                fill: $ft-color-1 !important;
                            }

                        }
                    }
                }
            }
        }

        .tab-content {
            #home {
                .home_bg {
                    position: relative;
                    height: 388px;
                    width: 400px;
                    background-color: $bg-color-1;

                    .home_bg_gradient {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 140px;
                        width: 100%;
                        opacity: 1;
                        z-index: 0;
                        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
                    }
                }

                .home_header {
                    padding: 35px 35px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;

                    .img-logo {
                        img {
                            margin-right: auto;
                            max-height: 32px;
                            width: auto;
                        }
                    }

                    .img-avatar {
                        .img-avatar-content {
                            display: flex;
                            flex-direction: row;

                            .ant-avatar-group {
                                .ant-avatar {
                                    border-color: transparent;
                                    mask: radial-gradient(circle at -11px center, transparent 21px, white 22px);

                                    &:first-child {
                                        mask: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }



    }
}


@keyframes scaleToZero {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}