* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgb(248, 249, 251);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

.layout_wrapper .ant-layout .ant-layout-sider {
  -webkit-transition: unset;
  transition: unset;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.layout_wrapper .ant-layout .ant-layout-sider::-webkit-scrollbar {
  width: 0px;
}
.layout_wrapper .ant-layout .ant-layout-sider .collapse-btn {
  padding: 5px;
  height: 54px;
}
.layout_wrapper .ant-layout .ant-layout-sider .logo .logo-container {
  padding-left: 20px;
}
.layout_wrapper .ant-layout .ant-layout-sider .logo .logo-container img {
  height: 43.94px;
  width: 130px;
}
.layout_wrapper .ant-layout .ant-layout-sider .ant-layout-sider-children > ul.ant-menu > li.ant-menu-item {
  -webkit-transition: none;
  transition: none;
}
.layout_wrapper .ant-layout .ant-layout-sider .ant-layout-sider-children > ul.ant-menu > li.ant-menu-item:first-child {
  margin-inline: unset;
  width: 100%;
  border-radius: 0 30px 30px 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(118, 187, 255, 0.3);
          box-shadow: 0 2px 5px rgba(118, 187, 255, 0.3);
  text-align: center;
}
.layout_wrapper .ant-layout .ant-layout-sider .ant-layout-sider-children > ul.ant-menu > li.ant-menu-item:first-child .ant-menu-title-content {
  font-size: 15px;
  font-weight: 500;
  color: #2eaef0;
}
.layout_wrapper .ant-layout .ant-layout-sider .ant-layout-sider-children > ul.ant-menu > li.ant-menu-item .ant-menu-item-icon {
  display: block;
  font-size: 16px !important;
  min-width: 16px !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.layout_wrapper .ant-layout .ant-layout-sider .ant-layout-sider-children > ul.ant-menu > li.ant-menu-item .ant-menu-title-content {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
.layout_wrapper .ant-layout #MenuBarIcon {
  padding-left: 13px !important;
}
.layout_wrapper .ant-layout #MenuBarIcon i {
  color: #3498db;
}
.layout_wrapper .ant-layout .expanded {
  background-color: #3498db;
}
.layout_wrapper .ant-layout .expanded #MenuBarIcon {
  padding-left: 13px !important;
}
.layout_wrapper .ant-layout .expanded #MenuBarIcon i {
  color: #fff;
}
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  -webkit-transition: none;
  transition: none;
}
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-item-icon {
  display: block;
  font-size: 16px !important;
  min-width: 16px !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-title-content,
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow {
  -webkit-transition: none;
  transition: none;
}
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-title-content {
  -webkit-transition: none;
  transition: none;
}
.layout_wrapper .ant-layout ul.ant-menu .ant-menu-item-icon {
  display: block;
  font-size: 16px !important;
  min-width: 16px !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.layout_wrapper .ant-layout-sider-collapsed {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 55px !important;
          flex: 0 0 55px !important;
  max-width: 55px !important;
  min-width: 55px !important;
  width: 55px !important;
}
.layout_wrapper .ant-menu-submenu-inline .ant-menu-submenu-title,
.layout_wrapper .ant-menu-item {
  padding-left: 15px !important;
}

.ant-layout .ant-layout-content {
  margin-left: 55px !important;
  margin-right: 0 !important;
}

.layout_wrapper .ant-layout ul.ant-menu-inline .ant-menu-item:first-child .ant-menu-item-icon {
  padding-left: 4px !important;
}

.layout_wrapper .navbar {
  z-index: 2;
}
.layout_wrapper .navbar ul li .nav-link i {
  color: #3498db;
}
.layout_wrapper .navbar ul .user-select {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout_wrapper .navbar ul .user-select span {
  margin-right: 25px;
}
.layout_wrapper .navbar ul .user-list {
  width: 100%;
  position: absolute;
  top: 101%;
  left: 0;
  z-index: 100;
}
.layout_wrapper .navbar ul .user-list ul {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 0 !important;
  text-align: center;
  overflow: hidden;
}
.layout_wrapper .navbar ul .user-list ul li:hover {
  background-color: #3274ba;
  color: #fff;
}

.dashboard .dashboard-bg {
  position: relative;
  min-height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer {
  position: absolute;
  width: 100%;
  height: 205px;
  margin-top: 0px;
  top: 0;
  left: 0;
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .shortBlueBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: hidden !important;
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .useAsMask {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  overflow-x: hidden;
  background-color: #0065aa;
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .shape-container {
  width: 100%;
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .shape-container .shape-first {
  position: absolute;
  width: 49.37%;
  height: 338.66%;
  top: -129.4%;
  background: rgba(41, 138, 204, 0.8);
  border-radius: 40px;
  -webkit-transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
          transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .shape-container .shape-second {
  position: absolute;
  width: 30.5%;
  height: 202.6%;
  border-radius: 40px;
  -webkit-transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
          transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
  left: 57.01%;
  top: 46.82%;
  background: rgba(41, 138, 204, 0.5);
}
.dashboard .dashboard-bg .shortBlueBackgroundContainer .shape-container .shape-third {
  left: 70.4%;
  top: 23.9%;
  background: rgba(41, 138, 204, 0.8);
  position: absolute;
  width: 30.5%;
  height: 202.6%;
  border-radius: 40px;
  -webkit-transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
          transform: matrix(0.71, 0.61, -0.82, 0.71, 0, 0);
}
.dashboard .dashboard-bg .dashboard-background .dashboard-background-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard .dashboard-bg .dashboard-background .dashboard-background-title p {
  color: #fff;
}
.dashboard .dashboard-bg .dashboard-background .dashboard-background-title p:first-child {
  font-size: 32px;
}
.dashboard .dashboard-bg .dashboard-background .dashboard-background-title p:last-child {
  font-size: 18px;
}
.dashboard .dashboard-task {
  position: relative;
  margin-top: -35px;
  padding: 0 2.2rem;
}
.dashboard .dashboard-task .dashboard-task-1,
.dashboard .dashboard-task .dashboard-task-2,
.dashboard .dashboard-task .dashboard-task-3,
.dashboard .dashboard-task .dashboard-task-4,
.dashboard .dashboard-task .dashboard-task-5,
.dashboard .dashboard-task .dashboard-task-6 {
  padding: 10px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content {
  background-color: #fff;
  border-radius: 14px;
  padding: 18px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action .dashboard-action-content,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action .dashboard-action-content,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action .dashboard-action-content,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action .dashboard-action-content,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action .dashboard-action-content,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action .dashboard-action-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button:first-child {
  margin-right: 5px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span {
  margin-right: 5px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .dashboard-action .dashboard-action-content .btn_area button .btn-content span:last-child {
  margin-right: 0;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item {
  padding-top: 12px;
  padding-right: 5px;
  height: 300px;
  overflow-y: scroll;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item::-webkit-scrollbar {
  width: 0px;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item:hover::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item:hover::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item:hover::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item:hover::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item:hover::-webkit-scrollbar,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item:hover::-webkit-scrollbar {
  width: 3px;
  background-color: whitesmoke;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item:hover::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item .list-content,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item .list-content,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item .list-content,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item .list-content,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item .list-content,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item .list-content {
  padding: 10px 5px;
  margin-bottom: 3px;
  -webkit-box-shadow: 0 6px 4px -4px rgba(118, 143, 255, 0.2);
          box-shadow: 0 6px 4px -4px rgba(118, 143, 255, 0.2);
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item .list-content p,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item .list-content p,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item .list-content p,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item .list-content p,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item .list-content p,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item .list-content p {
  margin-bottom: 0;
}
.dashboard .dashboard-task .dashboard-task-1 .dashboard-task-content .content-item .list-content:hover,
.dashboard .dashboard-task .dashboard-task-2 .dashboard-task-content .content-item .list-content:hover,
.dashboard .dashboard-task .dashboard-task-3 .dashboard-task-content .content-item .list-content:hover,
.dashboard .dashboard-task .dashboard-task-4 .dashboard-task-content .content-item .list-content:hover,
.dashboard .dashboard-task .dashboard-task-5 .dashboard-task-content .content-item .list-content:hover,
.dashboard .dashboard-task .dashboard-task-6 .dashboard-task-content .content-item .list-content:hover {
  background-color: rgba(170, 170, 170, 0.1);
}

.btnMultiFunc {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.btnMultiFunc .title_func {
  font-size: 20px;
  color: #1A202C;
  cursor: pointer;
}
.btnMultiFunc .title_func a {
  color: #1A202C;
  text-decoration: none;
}
.btnMultiFunc .btn_func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.btnMultiFunc .btn_func button {
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btnMultiFunc .btn_func button span {
  margin-left: 5px;
}
.btnMultiFunc .btn_func .collapse-content {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: #fff;
  border-radius: 10px;
}
.btnMultiFunc .btn_func .collapse-content ul {
  padding-left: 0;
  margin-bottom: 0;
  padding: 5px 0;
}
.btnMultiFunc .btn_func .collapse-content ul li {
  padding: 0 10px;
}
.btnMultiFunc .btn_func .collapse-content ul li:hover {
  background-color: #3498db;
  color: #fff;
}

.renter_content {
  padding: 10px;
}
.renter_content .nav-item .nav-link {
  background-color: #aaa;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.renter_content .nav-item .nav-link p {
  margin-bottom: 0;
  font-weight: bold;
}
.renter_content .nav-item .nav-link p:first-child {
  font-size: 22px;
}
.renter_content .nav-item .nav-link p:last-child {
  font-size: 15px;
}
.renter_content .nav-item .nav-link:hover {
  -webkit-box-shadow: 0 5px 15px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 5px 15px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.add-btn {
  height: 50px;
  min-width: 150px;
  margin-right: 10px;
  background-color: #07beb8 !important;
  border: none !important;
  color: #fff !important;
  -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cancel-btn {
  height: 50px;
  min-width: 150px;
  color: #fff;
  border: none !important;
  color: #000 !important;
  -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cancel-btn:hover,
.add-btn:hover {
  -webkit-box-shadow: 0 5px 15px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 5px 15px rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  opacity: 1;
}

.chatbox_zone {
  /* The popup chat - hidden by default */
}
.chatbox_zone .open-button {
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3498db;
  border-radius: 50%;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
.chatbox_zone .chat-popup {
  border-radius: 25px;
  width: 400px;
  height: 80vh;
  overflow: hidden;
  position: fixed;
  right: 15px;
  bottom: 75px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item .nav-link.active {
  background-color: transparent;
}
.chatbox_zone .chat-popup .chat-popup-content ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #fff;
  z-index: 5;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item .nav-link {
  text-decoration: none;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item .nav-link p {
  color: #1A202C;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item .nav-link svg {
  width: 2em;
  height: 2em;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item:hover .nav-link p {
  color: #3498db;
}
.chatbox_zone .chat-popup .chat-popup-content ul .nav-item:hover .nav-link svg {
  fill: #3498db !important;
}
.chatbox_zone .chat-popup .tab-content #home .home_bg {
  position: relative;
  height: 388px;
  width: 400px;
  background-color: #3498db;
}
.chatbox_zone .chat-popup .tab-content #home .home_bg .home_bg_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 140px;
  width: 100%;
  opacity: 1;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
.chatbox_zone .chat-popup .tab-content #home .home_header {
  padding: 35px 35px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chatbox_zone .chat-popup .tab-content #home .home_header .img-logo img {
  margin-right: auto;
  max-height: 32px;
  width: auto;
}
.chatbox_zone .chat-popup .tab-content #home .home_header .img-avatar .img-avatar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.chatbox_zone .chat-popup .tab-content #home .home_header .img-avatar .img-avatar-content .ant-avatar-group .ant-avatar {
  border-color: transparent;
  -webkit-mask: radial-gradient(circle at -11px center, transparent 21px, white 22px);
          mask: radial-gradient(circle at -11px center, transparent 21px, white 22px);
}
.chatbox_zone .chat-popup .tab-content #home .home_header .img-avatar .img-avatar-content .ant-avatar-group .ant-avatar:first-child {
  -webkit-mask: unset;
          mask: unset;
}

@-webkit-keyframes scaleToZero {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleToZero {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.dataTable .w-column-3,
.dataTable .w-column-2 {
  width: 20%;
}
.dataTable .w-column-1 {
  width: 50%;
}
.dataTable .headerStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dataTable .headerStyle span {
  font-size: 16px;
  font-weight: 500;
  color: #3f4248;
}
.dataTable .headerStyle button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 0px 5px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dataTable .headerStyle button:hover {
  background-color: rgba(170, 170, 170, 0.2);
}
.dataTable .search-btn {
  height: 39px;
  margin-right: 8px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #3f4248;
  padding: 8px 24px 10px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(188, 196, 205, 0.5);
          box-shadow: 0 1px 4px rgba(188, 196, 205, 0.5);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calendar-btn {
  width: 100%;
  background-color: rgba(170, 170, 170, 0.1);
  padding: 20px 10px;
  margin-bottom: 10px;
}
.calendar-btn button {
  height: 50px;
  min-width: 150px;
}

.calendar-container .fc-scroller {
  position: unset;
}
.calendar-container .fc-button,
.calendar-container .fc-today-button {
  background-color: transparent !important;
  border-radius: 0.25em !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #1A202C !important;
  text-transform: capitalize;
}
.calendar-container .fc-button .fc-icon,
.calendar-container .fc-today-button .fc-icon {
  color: gray;
}
.calendar-container .fc-button:hover,
.calendar-container .fc-today-button:hover {
  color: #3498db;
}
.calendar-container .fc-button:hover .fc-icon,
.calendar-container .fc-today-button:hover .fc-icon {
  color: #3498db;
}
.calendar-container .fc-button-active {
  background-color: #aaa !important;
}
.calendar-container .fc-toolbar-chunk .fc-button-group .fc--button {
  display: none;
}

.AddEventCalendar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.AddEventCalendar .AddEventCalendar-content {
  padding: 10%;
  -webkit-box-shadow: 0 0 50px 5px rgba(50, 116, 186, 0.2);
          box-shadow: 0 0 50px 5px rgba(50, 116, 186, 0.2);
  border-radius: 5px;
  background-color: #fff;
}
.AddEventCalendar .AddEventCalendar-content .ant-form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.AddEventCalendar .AddEventCalendar-content .ant-form-item {
  margin-bottom: 0;
}
.AddEventCalendar .AddEventCalendar-content .ant-form-item .ant-form-item-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AddEventCalendar .AddEventCalendar-content .ant-form-item .ant-form-item-row .ant-form-item-label {
  text-align: start !important;
}
.AddEventCalendar .ant-radio-wrapper {
  color: initial;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.AddEventCalendar .ant-radio-wrapper::after {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: transparent;
  border-radius: 10px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.AddEventCalendar .ant-radio-wrapper .ant-radio {
  display: block;
}
.AddEventCalendar .ant-radio-wrapper .ant-radio .ant-radio-inner {
  border: 2px solid #0065aa;
}
.AddEventCalendar .ant-radio-wrapper.ant-radio-wrapper-checked {
  color: #fff;
}
.AddEventCalendar .ant-radio-wrapper.ant-radio-wrapper-checked span.ant-radio + * {
  z-index: 2;
}
.AddEventCalendar .ant-radio-wrapper.ant-radio-wrapper-checked::after {
  background: #0065aa;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.AddEventCalendar .ant-radio-wrapper.ant-radio-wrapper-checked .ant-radio.ant-radio-checked {
  display: none;
}

.AddEventTask {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.AddEventTask .AddEventTask-content {
  padding: 10%;
  -webkit-box-shadow: 0 0 50px 5px rgba(50, 116, 186, 0.2);
          box-shadow: 0 0 50px 5px rgba(50, 116, 186, 0.2);
  border-radius: 5px;
  background-color: #fff;
}
.AddEventTask .AddEventTask-content .ant-form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.AddEventTask .AddEventTask-content .ant-form-item {
  margin-bottom: 0;
}
.AddEventTask .AddEventTask-content .ant-form-item .ant-form-item-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AddEventTask .AddEventTask-content .ant-form-item .ant-form-item-row .ant-form-item-label {
  text-align: start !important;
}

.tenant-detail .row {
  padding: 0;
  margin: 0;
}
.tenant-detail .tenant-detail-col-1 {
  width: 275px;
  max-width: 275px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0;
}
.tenant-detail .tenant-detail-col-2 {
  margin-right: 15px;
  padding-right: 2%;
  -webkit-box-flex: 4;
      -ms-flex: 4 1;
          flex: 4 1;
}
.tenant-detail .card {
  overflow: hidden;
  background: hsla(0, 0%, 100%, 0.96);
  -webkit-box-shadow: 0 8px 16px rgba(118, 143, 255, 0.15);
          box-shadow: 0 8px 16px rgba(118, 143, 255, 0.15);
  border-radius: 12.5px;
  width: 220px !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tenant-detail .card .card-body {
  padding: 1.5rem;
}
.tenant-detail .card .card-body .avatar-zone {
  position: relative;
  width: 121px;
  height: 121px;
  margin-left: auto;
  margin-right: auto;
}
.tenant-detail .card .card-body .avatar-zone .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #3274ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}
.tenant-detail .card .card-body .avatar-zone .circle img {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 75px;
  height: 75px;
}
.tenant-detail .card .card-body .avatar-zone .card-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #3274ba;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.tenant-detail .card .card-body .text-content-zone {
  margin-top: 30px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 5;
  -webkit-transition: inherit;
  transition: inherit;
}
.tenant-detail .card:hover {
  -webkit-transform: translateY(-5px) scale(1.005) translateZ(0);
          transform: translateY(-5px) scale(1.005) translateZ(0);
  -webkit-box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px rgba(50, 116, 186, 0.48);
          box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px rgba(50, 116, 186, 0.48);
}
.tenant-detail .card:hover .card-body .circle {
  opacity: 0;
}
.tenant-detail .card:hover .card-body .card-overlay {
  -webkit-transform: scale(3.3);
          transform: scale(3.3);
}
.tenant-detail .card:hover .card-body .text-content-zone {
  color: #fff;
}
.tenant-detail .tenant-status {
  width: 80%;
  padding-left: 20px;
}
.tenant-detail .tenant-status .sectionCardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}
.tenant-detail .tenant-status .sectionCardList .sectionCardText {
  margin: 0 0 1em;
  margin-bottom: 0 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}
.tenant-detail .tenant-status .sectionCardList .sectionCardText:first-child {
  font-size: 25px;
  font-weight: 400;
}
.tenant-detail .tenant-status .sectionCardList .sectionCardText:last-child {
  font-size: 20px;
  font-weight: 300;
}
.tenant-detail .text-to-viewall {
  width: 220px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  padding: 5px;
  color: #000;
}
.tenant-detail .text-to-viewall:hover {
  color: #3498db;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item h4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item h4 .anticon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  font-size: 20px;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item .content-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item .content-item-body .sectionCardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item .content-item-body .sectionCardList .sectionCardText {
  margin: 0 0 1em;
  margin-bottom: 0 !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item .content-item-body .sectionCardList .sectionCardText:first-child {
  font-size: 18px;
  font-weight: 400;
}
.tenant-detail .tab-content #details .detail-main .detail-content .content-item .content-item-body .sectionCardList .sectionCardText:last-child {
  font-size: 18px;
  font-weight: 300;
}
.tenant-detail .nav-pills {
  width: 100% !important;
}
.tenant-detail .nav-pills .nav-item {
  padding: 0;
}
.tenant-detail .nav-pills .nav-item .nav-link {
  border: 1px solid rgba(170, 170, 170, 0.5);
}
.tenant-detail .nav-pills .nav-item .nav-link p {
  margin-bottom: 0;
}